@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 64% 27%; /* #191970 */
    --foreground: 0 0% 98%;

    --card: 240 55% 32%;
    --card-foreground: 0 0% 98%;

    --popover: 240 64% 27%;
    --popover-foreground: 0 0% 98%;

    --primary: 183 100% 74%; /* #7DF9FF */
    --primary-foreground: 240 64% 10%;

    --secondary: 240 50% 40%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 50% 40%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 110 100% 54%; /* #39FF14 */
    --accent-foreground: 0 0% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 50% 40%;
    --input: 240 50% 40%;
    --ring: 183 100% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 64% 27%;
    --foreground: 0 0% 98%;

    --card: 240 55% 32%;
    --card-foreground: 0 0% 98%;

    --popover: 240 64% 27%;
    --popover-foreground: 0 0% 98%;

    --primary: 183 100% 74%;
    --primary-foreground: 240 64% 10%;

    --secondary: 240 50% 40%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 50% 40%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 110 100% 54%;
    --accent-foreground: 0 0% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 50% 40%;
    --input: 240 50% 40%;
    --ring: 183 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
